/* RESET AND GENERAL STYLES */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	outline: none;
	padding: 1rem;
}

/* UTITLITY CLASSES */
.correct {
	background-color: #44f744;
	border: 2px solid #44f744 !important;
	color: #fff;
}

.incorrect {
	background-color: tomato;
	border: 2px solid tomato !important;
	color: #fff;
}

/* HEADER SECTION */
.header {
	padding: 1rem;
}

.header__h2 {
	font-size: 2rem;
}

/* MAIN SECTION */
.main {
	margin: 2rem auto;
	min-height: 70vh;
	padding: 1rem;
}

.main__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quiz,
.scorecard {
	box-shadow: 0 1px 3px gray;
	padding: 2rem;
}

.scorecard {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: bold;
	justify-content: space-around;
}

.quiz__question {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.quiz__option {
	border: 2px solid blue;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

/* FOOTER SECTION */
.footer {
	background-color: #fff;
	padding: 1rem;
}

.footer__h2 {
	font-size: 1.3rem;
	text-align: center;
}
